/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
    background-color: #F5F5F5;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

.btn-back {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 3px 10px;
    margin: 0;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    outline: none !important;
    height: 40px;
    cursor: pointer;
    border-radius: 5px !important;
    transition: background-color .5s ease-in-out;
    &::before{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // text-align: center;
        // width: 100%;
        // height: 100%;
        font-size: 26px;
        margin-right: 10px;
        color:  #00A8FF;
        content: '\276E'; // back arrow icon
    }
    &:hover{
        background-color: #FFF;
    }
}