<h1>Authors</h1>

<ul *ngIf="users" [@listStagger]="users">
  <!-- <li *ngFor="let user of users['data']"> -->
    <!-- <img [src]="user.avatar"> -->
    <!-- <p>{{ user.name }} {{ user.last_name }}</p> -->
  <li *ngFor="let user of users">
    <a routerLink="/userDetail/{{user.id}}" class="name">{{ user.name }}</a>
    <div class="email">{{ user.email }}</div>
    <a href="http://{{ user.website }}" target="_blank" class="link">{{ user.website }}</a>
    <a routerLink="/userAlbums/{{user.id}}/{{user.name}}" class="link">See author's Albums</a>
    <a routerLink="/userPosts/{{user.id}}/{{user.name}}" class="link">See author's posts</a>
  </li>
</ul>
