ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background-color: white;
        padding: 2em;
        border-radius: 4px;
        margin-bottom: 7px;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);

        & > div, a {
            margin-bottom: 10px;
        }

        a {
            display: block;
            color: #00A8FF;

            &.name {
                font-weight: bold;
            }

            &.link {
                font-size: 0.9rem;
            }
        }
    }
}